aws_region          = "ap-southeast-1"
vpc_cidr            = "10.0.0.0/16"
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"
availability_zone   = "ap-southeast-1a"
my_ip_cidr          = "YOUR_PUBLIC_IP/32"
ami_id              = ""
ami_ssm_parameter   = "/aws/service/ami-amazon-linux-latest/amzn2-ami-kernel-default-hvm-x86_64-gp2"
instance_type       = "t3.micro"
key_name            = "nt548-lab2-key"
